.pio/libdeps
.pio/build/esp32doit-devkit-v1/FrameworkArduino
.pio/build/esp32doit-devkit-v1/lib670
.pio/build/esp32doit-devkit-v1/libe21
.pio/build/esp32doit-devkit-v1/src
.vscode/.browse.c_cpp.db*S
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
